@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");

}
@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 700;
  src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");

}
@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");

}
@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");

}
:root {
  --global-blue-900-color: #06346A;
  --global-blue-800-color: #02458C;
  --global-blue-700-color: #0B64CC;
  --global-blue-650-color: #3D6A9E;
  --global-blue-600-color: #97C2F4;
  --global-blue-500-color: #A8CEFA;
  --global-blue-400-color: #C9E0FB;
  --global-blue-300-color: #ECF4FE;
  --global-dark-900-color: #000000;
  --global-dark-800-color: #222222;
  --global-grey-900-color: #AAB0B7;
  --global-color-white-900: #FFFFFF;

  /* Spacings: */
  --global-container-width: 1270px;

  /* Grid */  
  --global-grid-columns: 12;
  --global-grid-gutter: 15px;

  /* Fonts */
  --global-heading-fontSize: 58px;
  --global-heading-fontSize-xm: 42px;
  --global-heading-fontSize-xs: 32px;
  --global-heading-fontSize-l: 28px;
  --global-heading-fontSize-m: 24px;
  --global-heading-fontSize-s: 20px;

  --global-text-fontSize-l: 18px;
  --global-text-fontSize-m: 16px;

  --global-z-background: 1;
  --global-z-content: calc(var(--global-z-background) + 1);
  --global-z-decor: calc(var(--global-z-content) + 1);
  --global-z-header: calc(var(--global-z-decor) + 1);
  --global-z-popup: calc(var(--global-z-header) + 1);

}

/* Document
 * ========================================================================== */

/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */

/* Sections
 * ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */

/* Text-level semantics
 * ========================================================================== */

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/**
 * Add the correct font size in all browsers.
 */

/* Embedded content
 * ========================================================================== */

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

/* Tabular data
 * ========================================================================== */

/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

/**
 * Remove the inheritance of text transform in Firefox.
 */

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

/**
 * Remove the additional :invalid styles in Firefox.
 */

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

/*
 * Add the correct display in all browsers.
 */

/* Scripting
 * ========================================================================== */

/* User interaction
 * ========================================================================== */

/*
 * Remove the tapping delay in IE 10.
 */

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

/* CSS utils */

